[Unit]
Description={{ svc_name }}
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5s
EnvironmentFile={{ svc_environmentfile_path }}
ExecStart={{ svc_binary_path }}
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
